* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// CUSTUM VARIABLES
:root {
  --main-app-color: rgb(39, 61, 134);
  --sidebar-color: rgba(39, 61, 134, 0.9);
  --header-color: rgba(39, 61, 134, 0.8);
  --dividers: rgb(17, 43, 68);
}

////////////// MOBILE FIRST GRID ////////////
////////////// NAV ////////////////////////
.grid {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: 3rem 1fr auto;
  grid-template-areas: 
    // "nav-bar     nav-bar     nav-bar     nav-bar"
    'header-area header-area header-area header-area'
    'main-area   main-area   main-area   main-area';
  background-color: rgb(17, 43, 68);
}

nav {
  grid-area: nav-bar;
  display: grid;
  grid-template-columns: 1fr 3em;
  grid-template-areas: 'logo burger';
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 3rem;
  letter-spacing: 3px;
  border-bottom: 0.2rem solid var(--dividers);
}

.side-bar {
  position: fixed;
  z-index: 2;
  width: 50%;
  top: 3rem;
  right: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
  border-left: 0.2rem solid var(--dividers);
  background: var(--sidebar-color);
  // grid-row: 2/ auto-fill;
  // grid-column: 3/5;
}

// The sidebar slide effect is a scale. Activated in JS
.side-bar-active {
  transform: scaleX(1);
}

// Animation for the links to slide
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  color: white;
  background: var(--main-app-color);
}

.nav-divider {
  background: var(--dividers);
}

.burger {
  grid-area: burger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--main-app-color);
  transition: box-shadow ease-in-out 0.2s;

  .lines {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

.toggle-burger-inset {
  box-shadow: inset 0 0 7px #1f1d1d;
}

.toggle-burger-lines {
  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .line2 {
    opacity: 0;
  }

  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

////////////////// SHOWCASE/HEADER //////////////////
#showcase {
  grid-area: header-area;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    '. . . .'
    'fill-left container-showcase container-showcase fill-right';
  text-align: center;
  margin-top: 3rem;
  height: 30rem;
  line-height: 1.5;

  .fill-sides-content-left {
    grid-area: fill-left;
    z-index: 1;
    background: var(--header-color);
    border-top: 0.2em solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.3);
  }

  .fill-sides-content-right {
    grid-area: fill-right;
    z-index: 1;
    background: var(--header-color);
    border-top: 0.2em solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.3);
  }

  .container-showcase-content {
    grid-area: container-showcase;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .showcase-background-image {
    height: 30rem;
    position: absolute;
    background: url('../assets/header-truck-mountains.jpg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    // z-index: -1;
  }

  .showcase-content {
    background: var(--header-color);
    color: white;
    padding: 1.5rem 2rem 1.5rem 2rem;
    width: 100%;
    height: 100%;
    border-top: 0.2em solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.3);
    z-index: 1;

    h1 {
      margin-bottom: 0.5rem;
      opacity: 1;
      font-size: 1.5rem;
    }

    i {
      color: rgb(60, 177, 31);
    }

    p {
      font-size: 1.1em;
    }
  }
}

///////////////////// MAIN START//////////////////////
main {
  grid-area: main-area;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  // grid-template-rows: auto auto auto;
  grid-template-areas:
    '.      sect-a sect-a .'
    'sect-b sect-b sect-b sect-b'
    '.      sect-c sect-c .'
    'sect-d sect-d sect-d sect-d';
  margin-top: 0.5rem;
  line-height: 1.5;
  text-align: center;
  background: var(--main-app-color);

  // MAIN SECTION-A
  #section-a {
    grid-area: sect-a;
    color: white;
    padding: 3rem 2rem;

    p {
      padding-top: 1.5rem;
    }
  }

  // MAIN SECTION-B
  #section-b {
    grid-area: sect-b;
    background: rgb(17, 43, 68);

    ul {
      padding-top: 1em;
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
      grid-template-areas:
        'card1 card1 card1 card1'
        'card2 card2 card2 card2'
        'card3 card3 card3 card3';
      margin-top: 1.5rem;
      list-style: none;

      li {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 1rem 1.5rem 1rem;
        box-shadow: -1px 6px 5px -2px rgba(0, 0, 0, 0.75);
        background: var(--main-app-color);
        color: white;
        border-radius: 20px 20px 15px 15px;

        .card-content {
          padding: 2rem;

          p {
            margin-top: 1rem;
          }
        }

        img {
          width: 100%;
          border-radius: 15px 15px 0 0;
        }
      }

      li:nth-child(1) {
        grid-area: card1;
      }
      li:nth-child(2) {
        grid-area: card2;
      }
      li:nth-child(3) {
        grid-area: card3;
      }
    }
  }

  // Section-C
  #section-c {
    // padding-top: 5em;
    grid-area: sect-c;
    color: black;
    padding: 3rem 2rem;
    background-color: white;
    border: 15px solid var(--dividers);

    p {
      padding-top: 1.5rem;
    }
  }
  // SECTION-D
  #section-d {
    padding-top: 1em;
    grid-area: sect-d;
    color: black;
    background-color: var(--dividers);

    .content-wrap {
      margin-top: 0.5em;
      // margin-bottom: 2em;
    }

    .test {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        'box1'
        'box2';
      color: white;
    }

    .box {
      padding: 2rem 2rem;
      grid-area: box1;
      background-color: #333;
      height: 16em;
      border-top: 5px solid var(--main-app-color);
      p {
        padding-top: 1.5rem;
      }
    }
    .box2 {
      padding: 2rem 2rem;
      grid-area: box2;
      background-color: #333;
      height: 16em;
      border-top: 5px solid var(--main-app-color);
      p {
        padding-top: 1.5rem;
      }
    }
  }
}

// TABLET
@media screen and (min-width: 650px) and (max-width: 1024px) {
  .nav-links-desktop {
    display: none;
  }
  main {
    #section-b {
      ul {
        grid-template-areas:
          'card1 card1 card2 card2'
          'card3 card3 card3 card3';

        li:nth-child(3) {
          grid-area: card3;

          img {
            width: 50%;
            border-radius: 15px 0 0 15px;
          }

          .card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
          }
        }
      }
    }
    #section-d {
      .test {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'box1 box2';
      }
      .box {
        height: 17.8em;
        border-right: 2px solid var(--main-app-color);
      }
      .box2 {
        height: 17.8em;
        border-left: 2px solid var(--main-app-color);
      }
    }
  }
}

////////// NAV LINKS FOR MOBILE //////
.nav-links-desktop {
  display: none;
}
.links-wrapper {
  height: 50%;
}
.nav-links {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;

  li {
    opacity: 0;
  }

  li::before {
    display: block;
    margin-bottom: 0.5rem;
    height: 5px;
    content: '';
    background-color: var(--dividers);
    transform-origin: left;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform ease-out 0.2s;
  }

  li:hover::before {
    transform: scaleX(1);
  }
}

nav,
.nav-links {
  li {
    text-decoration: none;
  }

  li:hover {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

//////////////////// DESKTOP //////////////////
@media screen and (min-width: 1025px) {
  main {
    #section-b {
      ul {
        grid-template-columns: 1fr repeat(3, minmax(auto, 30em)) 1fr;
        grid-template-areas: '. card1 card2 card3 .';
      }
    }
    #section-d {
      .test {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'box1 box2';
      }
      .box {
        height: 17em;
        padding-right: 6rem;
        padding-left: 6rem;
        border-right: 2px solid var(--main-app-color);
      }
      .box2 {
        height: 17em;
        padding-right: 6rem;
        padding-left: 6rem;
        border-left: 2px solid var(--main-app-color);
      }
    }
  }
  .side-bar {
    display: none;
  }
  .burger {
    display: none;
  }

  nav {
    grid-area: nav-bar;
    display: grid;
    grid-template-columns: 2fr 50em 1fr;
    grid-template-areas: 'logo desktopLinks';
    width: 100%;
    background: var(--main-app-color);
    height: 4rem;
  }

  .logo {
    grid-area: logo;
  }
  .nav-links-desktop {
    grid-area: desktopLinks;
    display: flex;
    background: var(--main-app-color);
    li {
      margin-bottom: 8px;
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .tops {
      display: block;
      margin-bottom: 0.5rem;
      height: 5px;
      content: '';
      background-color: var(--dividers);
      transform-origin: left;
      border-radius: 5px;
      transform: scaleX(0);
      transition: transform ease-out 0.2s;
    }

    li:hover .tops {
      transform: scaleX(1);
    }
  }
}

@media screen and (min-width: 1981px) {
  main {
    // #section-b {
    //   ul {
    //     grid-template-columns: 1fr repeat(3, minmax(auto, 30em)) 1fr;
    //     grid-template-areas: '. card1 card2 card3 .';
    //   }
    // }
    #section-d {
      // .test {
      //   grid-template-columns: 1fr 1fr;
      //   grid-template-areas: 'box1 box2';
      // }
      .box {
        padding-right: 15rem;
        padding-left: 15rem;
        height: 15em;
      }
      .box2 {
        padding-right: 15rem;
        padding-left: 15rem;
        height: 15em;
      }
    }
  }
}
