$colors: rgb(233, 233, 233), rgb(250, 235, 235), rgb(221, 216, 216), rgb(200, 184, 184), rgb(251, 235, 235), rgb(231, 210, 210);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

h1 {
  margin: 5rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-gap: 1rem;
  padding: 10px;
  
  .card {

    // randomize the colors based on the $colors array. $i is the key
    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        background: nth($colors, $i);
      }
    }

    .info {
      strong { 
        display: block;
        text-align: center;
      }
      p {
        // text-align: center;
        padding: 1rem;
      }
    }

    transition: transform .5s;
    &:hover {
      transform: translateY(-10px);
    }

    img {
      height: 200px;
      width: 100%;
    }
  }
}