* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// CUSTUM VARIABLES
:root {
  --main-app-color: rgb(39, 61, 134);
  --sidebar-color: rgba(39, 61, 134, .9);
  --header-color: rgba(39, 61, 134, .8);
  --dividers: rgb(17, 43, 68);
}

////////////// MOBILE FIRST GRID ////////////
////////////// NAV ////////////////////////
.grid {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 3rem 1fr auto;
  grid-template-areas: 
    "nav-bar     nav-bar     nav-bar     nav-bar"
    "header-area header-area header-area header-area"
    "main-area   main-area   main-area   main-area";
}

nav {
  grid-area: nav-bar;
  letter-spacing: 3px;
  display: grid;
  grid-template-columns: 1fr 3em;
  grid-template-areas: "logo burger";
  width: 100%;
  height: 3rem;
  border-bottom: .2rem solid var(--dividers);
  position: fixed;
}

.side-bar {
  grid-row: 2/ auto-fill;
  grid-column: 3/5;
  background: var(--sidebar-color);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s ease-in;
  border-left: .2rem solid var(--dividers);
  position: fixed;
  width: 50%;
  top: 3rem;
  right: 0;
  height: 100%;
}

// The sidebar slide effect is a scale. Activated in JS
.side-bar-active {
  transform: scaleX(1)
}

// Animation for the links to slide
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px); 
  }
}

.logo {
  color: white;
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: var(--main-app-color);
}

.nav-divider {
  background: var(--dividers);
}

.burger {
  grid-area: burger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-app-color);
  transition: box-shadow ease-in-out .2s; 

  .lines {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

.toggle-burger-inset {
  box-shadow: inset 0 0 7px #1f1d1d;
}


.toggle-burger-lines {

  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .line2 {
    opacity: 0;
  }

  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}


////////////////// SHOWCASE/HEADER //////////////////
#showcase {
  grid-area: header-area;
  text-align: center;
  height: 30rem;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "showcase-divider showcase-divider showcase-divider showcase-divider"
  "fill-left container-showcase container-showcase fill-right"
  ". . . .";
  line-height: 1.5;

  .fill-sides-content-left {
    grid-area: fill-left;
    background: var(--header-color);
    border-top: .2em solid rgba(0, 0, 0, .3);
    border-bottom: .2em solid rgba(0, 0, 0, .3);
  }

  .fill-sides-content-right {
    grid-area: fill-right;
    background: var(--header-color);
    border-top: .2em solid rgba(0, 0, 0, .3);
    border-bottom: .2em solid rgba(0, 0, 0, .3);
  }

  .container-showcase-content {
    grid-area: container-showcase;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .showcase-background-image {
    height: 30rem;
    position: absolute;
    background: url('../assets/header-truck-mountains.jpg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: -1;
  }

  .showcase-content {
    background: var(--header-color);
    color: white;
    padding: 1.5rem 2rem 1.5rem 2rem;
    width: 100%;
    height: 100%;
    border-top: .2em solid rgba(0, 0, 0, .3);
    border-bottom: .2em solid rgba(0, 0, 0, .3);

    h1 {
      margin-bottom: .5rem;
      opacity: 1;
      font-size: 1.5rem;
    }

    i {
      color: rgb(60, 177, 31)
    }

    p {
      font-size: 1.1em;
    }
  }
}


///////////////////// MAIN START//////////////////////
main {
  margin-top: 1.5rem;
  line-height: 1.5;
  grid-area: main-area;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    ". sect-a sect-a ."
    "sect-b sect-b sect-b sect-b";
  text-align: center;
  background: var(--main-app-color);

  // MAIN SECTION-A
  #section-a {
    grid-area: sect-a;
    color: white;
    padding: 3rem 2rem;

    p {
      padding-top: 1.5rem;
    }
  }
// MAIN SECTION-B
  #section-b {
    grid-area: sect-b;
    background: white;

    ul {
      list-style: none;
      margin-top: 1.5rem;

      li {
        box-shadow: -1px 6px 5px -2px rgba(0,0,0,0.75);
        display: flex;
        justify-content: center; 
        flex-wrap: wrap; 
        background: var(--main-app-color);
        margin: 0 1rem 1.5rem 1rem;
        color: white;
        border-radius: 20px 20px 15px 15px;

        .card-content {
          padding: 2rem;

          p {
            margin-top: 1rem;
          }
        }

        img {
          width: 100%;
          border-radius: 15px 15px 0 0;
        }
      }
    }
  }
}







//////////////////// DESKTOP //////////////////
.links-wrapper {
  height: 50%;
}
.nav-links {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  
  li {
    text-decoration: none;
    opacity: 0;
  }

  li:hover {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: white;
  }

  li::before {
    margin-bottom:.5rem;
    content: '';
    display: block;
    height: 5px;
    background-color: var(--sidebar-color);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform ease-in-out .2s;
  }

  li:hover::before {
    content: '';
    display: block;
    height: 5px;
    border-radius: 5px;
    background-color: var(--dividers);
    transform: scaleX(1);
  }
}



