* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #FBFBFB;
}

/* configure img size */
.wrapper img {
  width: 200px;
  height: 200px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  /* minmax function- can't go past 200px, and above 1 fr unit */
  grid-template-columns: 
    repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 20px;
}